{% extends 'my_app/base.html' %}

{% block content %}
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
           
                    <div class="card-header">
                        <h3 class="card-title"><strong>Subjects</strong></h3>
                    </div>
                    {% for sub in subjects %}
                        <div class="content-section">
                            <div class="card-header">
                                <h2 class="card-title"><a href= "/subject/{{sub.subject_name}}"><strong>{{ sub.subject_name }}</strong></a></h2>
                            </div>
                            <h3> Course : {{ sub.course_id.course_name }}</h3>
                            <p> Total Students : {{ sub.course_id.student_set.count }}</p>
                        </div>
                    {% endfor %}
              
            </div>
        </div>

    </div>
</section>

{% endblock content %}